
@font-face {
    font-family: InterMedium;
    src: url(../fonts/Inter-Medium.ttf);
}
@font-face {
    font-family: InterRegular;
    src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: InterVar;
    src: url(../fonts/Inter-VariableFont_slnt,wght.ttf);
}

@font-face {
    font-family: PPMoriRegular;
    src: url(../fonts/PPMori-Regular.ttf);
}

@font-face {
    font-family: AlteHaasGroteskBold;
    src: url(../fonts/AlteHaasGroteskBold.ttf);
}
@font-face {
    font-family: AlteHaasGroteskRegular;
    src: url(../fonts/AlteHaasGroteskRegular.ttf);
}

/* fade in animation reference: https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/ */
body {
    font-family: InterMedium;
    font-style:normal;
    padding-left: 50px;
    padding-right: 50px;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
li{
    font-size: 16px;
    font-family: AlteHaasGroteskRegular;
    font-weight: 300; 
}

a:hover{
    color:#898989
}
a{
    color: #000000;
}

video{
    border-radius: 1em;
}

/* for side navigation menu */
.sidebar{
    position: sticky;
    float:right;
    font-family: InterMedium;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-right: 50px;
    margin-top: 80px;
    text-align: right;
    font-size: 20px;
    padding-top: 0.3in;
    position: sticky;
    z-index: 2;
    right: 0;
    color: #000000;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.sideNavbar{
    font-family: InterRegular;
    font-size:x-small;
    color: #727272;
    font-weight: bold;
    text-decoration: none;
}
.sideNavbar a:hover{
    font-family: InterMedium;
    background-color: #000000;
}

/* for "hi im arriyan" exerpt */
.intro{
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 120px; 
    font-family: PPMoriRegular; 
    color: #000000;
    text-align: left;
    padding-bottom: 5px;
}

/* for "siat undergraduate" paragraph */
.intropara{
    font-family: AlteHaasGroteskRegular;
    line-height: 1.5em;
    font-size: 20px;
    font-style: lighter;
    text-align: left;
    color: #000000;
    padding-left: 60%;
}

.homepage{
    padding-bottom: 220px;
}

.clickableText{
    color: #484848;
    font-family: AlteHaasGroteskRegular;
    line-height: 1.5em;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    padding-left: 60%;  
}

.projectsHeader{
    padding-top: 100px;
    font-family: PPMoriRegular;
    font-size:xx-large;
    font-weight: lighter;
    border-bottom: 1px solid black;
    padding-right: 10px;
    padding-bottom: 3px;
}

.projDescription{
    padding-top: 20px;
    padding-right: 50px;
    font-size: 16px;
    font-family: AlteHaasGroteskRegular;
    font-weight: 300;
    padding-right: 10px;
    padding-bottom: 40px;
    line-height: 1.5em;
}
.projTools{
    padding-top: 20px;
    font-size: 16px;
    font-family: AlteHaasGroteskBold;
    line-height: 1.5em;
    font-weight:500;
    padding-right: 10px;
    padding-bottom: 40px;
}

.projectsImg{
    width: 100%;
    height: auto;
    padding-right: 10px;
    padding-bottom: 50px;
}
.projectsImg:hover{
    opacity: 0.7;
}


.normalImg{
    max-width: 100%;
    height:auto;
}

/* modal reference: https://www.w3schools.com/css/tryit.asp?filename=trycss_image_modal_js */
.modal {
    display: none;
    position: fixed; 
    z-index: 2; 
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
  }
  
#myImg:hover {opacity: 0.7;}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* Add Animation */
.normalImg, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
from {transform: scale(0.1)} 
to {transform: scale(1)}
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* end of modal reference */

/* horizontal scrolling reference: https://www.w3schools.com/howto/howto_css_image_gallery_scroll.asp */
div.scroll-container {
    background-color: #eeeeee;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    border-radius: 1em;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
  
div.scroll-container img {
    padding: 3em;
}

/* scrollbar stylizing reference: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* width */
::-webkit-scrollbar {
    width: 1em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 1em;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(117, 117, 117); 
    border-radius: 1em;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555555; 
  }

.contactDetails{
    padding-top: 100px;
    font-family: PPMoriRegular;
    font-size:x-large;
    font-weight: lighter;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}

.projPgTitle{
    font-size: 75px;
    font-weight: lighter;
    font-family: PPMoriRegular;
}

.imagineJacketOverview{
    padding-top: 140px;
    margin-right: 370px;
    font-size: 16px;
    font-family: InterVar;
    font-weight: 300;
    padding-right: 10px;
    padding-bottom: 40px;
}

.sideHeader{
    font-size: 48px;
    font-family: PPMoriRegular;
    font-weight: lighter;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    margin-top: 0px;
}

.sectionHeader{
    font-family: PPMoriRegular;
    color: #8C8C8C;
    font-size: 25px;
    padding-bottom: 18px;
}

.projectInfo{
    padding-right: 50px;
    padding-left: 50px;
}
.projInfoStyle{
    font-size: 16px;
    font-family: AlteHaasGroteskRegular;
    color: #484848;
    line-height: 1.5em;
}

.center-align{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;
}


@media (max-width: 80rem){
    .imagineJacketOverview{
        font-size: 15px;
        margin-left: -20px;
        margin-right: -10px;
    }
    div.scroll-container{
        width: 500px;
    }
}

@media (max-width: 60rem){
    .full-column{
        grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%);
        grid-auto-flow: column;
    }
    .intro{
        font-size: 90px;
    }
    .projectsHeader{
        padding-top: 10px;
    }
    .projDescription{
        font-size: 16px;
    }
    .projInfoStyle{
        font-size: 14px;
    }
    li{
        font-size: 14px;
    }
    .projTools{
        font-size: 16px;
    }
    .contactDetails{
        padding-top: 10px;
    }
    .sideNavbar{
        font-size: x-small;
    }
    h2{
        padding-bottom: 0px;
    }
    .imagineJacketOverview{
        font-size: 14px;
        margin-left: -30px;
        margin-right: -20px;
    }
    .sideHeader{
        font-size: 34px;
    }
    div.scroll-container{
        width: 300px;
    }
}

@media (max-width: 40rem){
    .add-gutters{
        grid-row-gap: 50px;
    }
    .less-column, .full-column{
        grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%);
        grid-template-columns: auto;
        grid-auto-flow: column;
    }
    .intro{
        font-size: 40px;
    }
    .intropara{
        font-size: 10px;
        padding-left: 20%;
    }
    .projDescription{
        font-size: 10px;
    }
    .projInfoStyle{
        font-size: 10px;
    }
    li{
        font-size: 10px;
    }
    .projTools{
        font-size: 10px;
    }
    .clickableText{
        font-size: 10px;
        padding-left: 20%;
    }
    .projectsHeader{
        padding-top: 0px;
    }
    .sectionHeader{
        font-size: 14px;
    }
    .contactDetails{
        padding-top: 0px;
    }
    .sideNavbar{
        font-size: xx-small;
    }
    .projPgTitle{
        font-size: 30px;
    }
    .imagineJacketOverview{
        font-size: 10px;
        margin-left: -30px;
        margin-right: -30px;
    }
    .sideHeader{
        font-size: 25px;
    }
    div.scroll-container{
        width: 150px;
    }
}

@media (max-width: 25rem){
    .add-gutters{
        grid-row-gap: 20px;
    }
    .projDescription{
        font-size: 10px;
    }
    .projInfoStyle{
        font-size: 7px;
    }
    li{
        font-size: 7px;
    }
    .projTools{
        font-size: 7px;
    }
    .intro{
        padding-top: 130px;
        font-size: 40px;
    }
    .sideNavbar{
        font-size: xx-small;
        background: rgb(200, 200, 200); /* for older browsers that dont support rgba */
        background: rgba(200, 200, 200, 0.8);
        border-radius: 4px;
    }
    .projPgTitle{
        font-size: 20px;
    }
    .imagineJacketOverview{
        font-size: 10px;
        margin-left: -20px;
        margin-right: -20px;
    }
    .sideHeader{
        font-size: 10px;
    }
    .sectionHeader{
        font-size: 10px;
    }
    
}
