/* A sheet specifying order of elements z-index */

.image{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width:100%; 
    height:fit-content;
    margin: 0;
    padding: 0;
}

.imagerelative{
    z-index: 1;
    position: absolute;
    object-fit: fill;
    top: 0;
    left: 0;
    width:100%; 
    height: 100%;
    margin: 0;
    padding: 0;
}

.container { position:relative; }


/*hi im arriyan blurb at top of page*/
.introorder {
    position:relative;
    z-index:2;
}
