*{
    box-sizing:border-box;
    margin: 0;
    scroll-behavior: smooth;
}

.grid{
    display: grid;
}

.column{
    float: left;
} 
.left{
    width: 30%;
}
.right{
    width: 70%;
}

.row{
    width: 100%;
    /*height: 359px;*/
    /*border: 1px solid #000;*/
}

.add-gutters {
    grid-column-gap: 20px;
    grid-row-gap: 100px;
}

@media (max-width: 60rem){
    .full-column{
        grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
        grid-auto-flow: column;
    }
    .intro{
        font-size: 90px;
    }
    .projectsHeader{
        padding-top: 10px;
    }
    .projDescription{
        font-size: 16px;
    }
    .projTools{
        font-size: 16px;
    }
    .contactDetails{
        padding-top: 10px;
    }
    .sideNavbar{
        font-size: x-small;
    }
    h2{
        padding-bottom: 0px;
    }
}

@media (max-width: 40rem){
    .add-gutters{
        grid-row-gap: 50px;
    }
    .less-column, .full-column{
        grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
        grid-template-columns: auto;
        grid-auto-flow: column;
    }
    .intro{
        font-size: 40px;
    }
    .intropara{
        font-size: 10px;
        padding-left: 20%;
    }
    .projDescription{
        font-size: 10px;
    }
    .projTools{
        font-size: 10px;
    }
    .clickableText{
        font-size: 10px;
        padding-left: 20%;
    }
    .projectsHeader{
        padding-top: 0px;
    }
    .contactDetails{
        padding-top: 0px;
    }
    .sideNavbar{
        font-size: xx-small;
    }
}

@media (max-width: 25rem){
    .add-gutters{
        grid-row-gap: 20px;
    }
    .projDescription{
        font-size: 8px;
    }
    .projTools{
        font-size: 7px;
    }
    .intro{
        padding-top: 130px;
        font-size: 40px;
    }
    .sideNavbar{
        font-size: xx-small;
        background: rgb(200, 200, 200); /* for older browsers that dont support rgba */
        background: rgba(200, 200, 200, 0.8);
        border-radius: 4px;
    }
}

