*{
    box-sizing:border-box;
    margin: 0;
    scroll-behavior: smooth;
}

.grid{
    display: grid;
}

.column{
    float: left;
    border: 2px solid rgba(0, 0, 0, 0);
} 
.left{
    width: 30%;
}
.right{
    width: 70%;
}

.row{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
}

.add-gutters {
    grid-column-gap: 20px;
    grid-row-gap: 100px;
}

