
@font-face {
    font-family: IBMPlexSansKR;
    src: url(fonts/IBMPlexSansKR-ExtraLight.ttf);
}
@font-face {
    font-family: RobotoMono;
    src: url(fonts/RobotoMono-Light.ttf);
}

body {
    font-family: RobotoMono;
    font-style:normal;
    margin-top: 75px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: #212323;
    color: #FFFFFC;
}

.sidebar{
    font-variant: small-caps;
    text-align: right;
    font-size: 6px;
    padding-top: 0.3in;
}