/* A sheet specifying order of elements via z-index */
#firstPageBG {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}

.image{
    z-index: 1;
    position: absolute;
    top:0;
    left: 0;
    width:100%; 
    height:fit-content;
    margin: 0;
    padding: 0;
}

.container { position:relative; }

.overlay-nav {
    position:absolute;
    top: 0;
    right: 0;
    z-index:2;
}
.overlay-intro {
    position:absolute;
    top: 0;
    left: 0;
    z-index:2;
}